# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Build / distribuzione
dist/
build/
*.spec

# Log
*.log

# Config locali
config.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db