# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py # Per non caricare nemmeno i sorgenti

# Virtual env
venv/
.env/

# Build / distribuzione
dist/
build/
resources/
*.spec

# Log
*.log

# Config locali
config.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Altri
*.bat
*.iss