# Ignora sorgenti Python
*.py
resources/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
										  

# Virtual env
venv/
.env/

# Build / distribuzione
	 
build/
dist/
*.spec

# Log
*.log

# Config locali
config.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Script locali
*.bat

# Installer script (opzionale: se non vuoi pubblicarlo)
*.iss